body {
  background-color: #ffffff;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.main_header {
  background-image: linear-gradient(-180deg, #7ee8fa 0%, #eec0c6 100%);
  padding: 20px;
}
